<footer id="main-footer">
    <div class="footer-menu ">
        <div class="container ">
            <div class="row ">
                <div class="footer-menu-box ">
                    <ul>
                        <li class="app-logo"><logo /></span></li>
                        <li class="link ">&copy <span current-year></span> - CSI Piemonte</a></li>
                        <li class="link ">Currently: v <span app-version /> - beta</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</footer>

