@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 300;
    src: local('Titillium Web Light'), local('Titillium Web-Light'), url(~@/assets/font/google/TitilliumWeb/titillium-web-v6-latin-300.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    src: local('Titillium Web'), local('Titillium Web-Regular'), url(~@/assets/font/google/TitilliumWeb/titillium-web-v6-latin-regular.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 600;
    src: local('Titillium Web Medium'), local('Titillium Web-Medium'), url(~@/assets/font/google/TitilliumWeb/titillium-web-v6-latin-600.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    src: local('Titillium Web Bold'), local('Titillium Web-Bold'), url(~@/assets/font/google/TitilliumWeb/titillium-web-v6-latin-700.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 900;
    src: local('Titillium Web Black'), local('Titillium Web-Black'), url(~@/assets/font/google/TitilliumWeb/titillium-web-v6-latin-900.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Titillium Web';
    font-style: italic;
    font-weight: 300;
    src: local('Titillium Web Light Italic'), local('Titillium Web-LightItalic'), url(~@/assets/font/google/TitilliumWeb/titillium-web-v6-latin-300italic.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Titillium Web';
    font-style: italic;
    font-weight: 600;
    src: local('Titillium Web Medium Italic'), local('Titillium Web-MediumItalic'), url(~@/assets/font/google/TitilliumWeb/titillium-web-v6-latin-600italic.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Titillium Web';
    font-style: italic;
    font-weight: 700;
    src: local('Titillium Web Bold Italic'), local('Titillium Web-BoldItalic'), url(~@/assets/font/google/TitilliumWeb/titillium-web-v6-latin-700italic.ttf) format('truetype');
  }
  body{margin: 0;}
  .lowercase{text-transform: lowercase;}
  .icon-isolamento-domiciliare{color: #006cb4;}
  .icon-tampone-positivo{color: #006cb4;}
  .icon-segnalazione{color: #006cb4;}
  .icon-da-integrare{color: #ff9900;}
  .tampone-icon{display: inline-block; background-color: #333;font-size : .7rem; padding: 0.3rem 0.15rem 0 0.15rem;  width: 1rem; height: 1rem;text-align: center; color: white; border-radius: 1em;}
  .toolbar{display: flex; align-items: center;}
  .toolbar-separator{display: block;width: 12px;}
  .toolbar-btn{border: solid 1px #ccc; background-color: #eee; font-size: 1em; padding: .5em 1em .5em .5em ; border-radius: 2em;}
  .toolbar-btn:hover{cursor: pointer; background-color: #ddd;}
  .toolbar-btn a{color: #333; text-decoration: none;}
  .toolbar-btn-label{margin-left: .5em; text-decoration: none;}
  .table {margin: 0; padding: 0; border-collapse: collapse; width: 100%;font-size: 14px;}
  .table-header th, td {
    border-bottom: 1px solid #ddd;
  }
  .nowrap{white-space: nowrap;}
  /* .table tr:nth-child(even) {background-color: #d8f4ff;} */
  .table-row td:after {font-weight: bold;text-align: left; padding: 8px; vertical-align: top;}
  .table-header th {border-bottom: 2px solid #ddd;padding: 0 8px;}
  .table-header th p{margin:0;}
  /* .table tr:hover {background-color: #f5f5f5;} */
  .table-header th:last-child p {border: 0;}
  .table-header p {padding: 0;}
  .table-row td {padding: 8px; text-align: left;display: table-cell;}
  .table-row td p{margin: 0;padding:0;}
  .table-row td:last-child p {border: 0;}
  .table-row p { padding: 0 15px;}

  .modal-content{position: relative; background-color: white; width: 100%;padding: 12px; box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);}
  .v--modal-box .close{position: absolute; top: 4px; right: 10px; font-size: 1.5em;}
  .v--modal-box .close:hover{cursor: pointer;}
  .modal-footer {padding-top: 12px; border-top: solid 1px #ccc; margin-top: 12px; display: flex;}
  .modal-footer .toolbar-left{flex-grow: 1;}
  .form-section{display: table;width: 100%;table-layout: fixed; border-collapse: collapse;}
  .form-group{display: table-row;}
  .form-section-title{font-weight: bold;padding:12px 0 6px 0;}
  .form-group .label-column{display: table-cell;width: 25%; padding: 3px; text-align: right; }
  .form-group .label-column-small{display: table-cell;width: 20%; padding: 3px; vertical-align: middle;}
  .form-group .control-column{display: table-cell;padding: 6px;width: 50%;}
  .form-group .control-column-large{display: table-cell;padding: 8px 6px;width: 80%; vertical-align: middle;}
  .form-group .button-column{display: table-cell;}
  .form-group-intro{padding: 6px; text-align: center;}
  .form-control{ padding: 4px 12px; font-size: 14px; line-height: 1.42857143; color: #555;}
  .form-group-end-section .control-column, .form-group-end-section .label-column, .form-group-end-section .label-column-small, 
  .form-group-end-section .button-colum, .form-group-end-section .control-column-large{border-bottom: solid 1px #ccc; }
  .form-group-grey{background-color: #e9e9e9;}
  .form-group .control-with-text-area .form-control{padding: 0;}
  .form-group .control-with-text-area textarea{width: 100%;}
  .btn{border: solid 1px #ccc; background-color: #eee; font-size: 1em; padding: .5em 1em; border-radius: 2em;     display: inline-block;}
  .btn:hover{cursor: pointer; background-color: #ddd;}
  a.btn{text-decoration: none;}
  a.btn:hover{text-decoration: none;}

  .autocomplete__box{border:none!important;    padding: 0 58px 0 0!important;}
  .autocomplete__inputs{padding:0!important;}
  .autocomplete__icon{display: none;}
  .autocomplete__inputs input{border:solid 1px #ccc!important;}
  .autocomplete__results{margin: 0 18px!important; width: auto!important;}

  .alert{border-radius: 0; border-width: 1px 0;margin: 6px 0; padding: 6px 12px; border-style: solid;}
  .alert.info {background-color: #bfe5f7;border-color: #1ba1e2;color: #1684b9;}
  .alert.success {background-color: #d3e7be;border-color: #60a917;color: #4f8b13;}
  .alert.danger {background-color: #f4b8d8;border-color: #d80073;color: #b1005e;}
  .alert.warning{background-color: #f4eeb8;border-color: #dfcc2e;color: #b19e00;}
  .text-danger{color: #b1005e;}
  
   checkbox and radio style 
  .checkbox label:after, .radio label:after{clear: both; content: ''; display: table;}
  .checkbox .cr,.radio .cr{border: 1px solid #a9a9a9; border-radius: 0; display: inline-block; float: left; height: 1.3em; margin-right: .5em; position: relative; width: 1.3em;}
  .radio .cr{border-radius: 50%;}
  .checkbox .cr .cr-icon, .radio .cr .cr-icon{font-size: .8em; left: 17%; line-height: 0; position: absolute; top: 25%;}
  .radio .cr .cr-icon{margin-left: 0.04em;}
  .checkbox label input[type="checkbox"],
  .radio label input[type="radio"]{display: none;}
  .checkbox label input[type="checkbox"] + .cr > .cr-icon,
  .radio label input[type="radio"] + .cr > .cr-icon{opacity: 0; transform: scale(3) rotateZ(-20deg); transition: all .1s ease-in;}
  .checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
  .radio label input[type="radio"]:checked + .cr > .cr-icon{opacity: 1; transform: scale(1) rotateZ(0deg);}
  .checkbox label input[type="checkbox"]:disabled + .cr,
  .radio label input[type="radio"]:disabled + .cr{opacity: .5;}
  .inline-checkbox {display: inline-block}
  .inline-radio {display: inline-block}
  .inline-radio label, .inline-checkbox label{display: flex; align-items: center;margin-right: 1em;} 
  select[disabled] { background-color: #ebebe4; border-width: 0.5px; }
  .emptyvalue{font-style: italic; color: #bbb;}
  .info-important{ color: #1684b9; display: flex; align-items: center;}
  .info-important-icon{font-size: 2em; margin-right: .5em;}
  .info-important-text{font-size: 1em;}
  .column-slim{width: 1px;}

  .cursor-pointer{cursor: pointer;}
  .invisible{visibility: hidden;}
  .text-left{text-align: left;}
  .text-center{text-align: center;}
  .text-right{text-align: right;}
  .text-bold{font-weight: bold;}

  .pa-xs{padding: 2px;}
  .pa-sm{padding: 4px;}
  .pa-md{padding: 8px;}
  .pa-lg{padding: 16px;}
  .pa-xl{padding: 32px;}
  .py-xs{padding-top: 2px; padding-bottom: 2px;}
  .py-sm{padding-top: 4px; padding-bottom: 4px;}
  .py-md{padding-top: 8px; padding-bottom: 8px;}
  .py-lg{padding-top: 16px; padding-bottom: 16px;}
  .py-xl{padding-top: 32px; padding-bottom: 32px;}
  .px-xs{padding-left: 2px; padding-right: 2px;}
  .px-sm{padding-left: 4px; padding-right: 4px;}
  .px-md{padding-left: 8px; padding-right: 8px;}
  .px-lg{padding-left: 16px; padding-right: 16px;}
  .px-xl{padding-left: 32px; padding-right: 32px;}
  .ma-xs{margin: 2px;}
  .ma-sm{margin: 4px;}
  .ma-md{margin: 8px;}
  .ma-lg{margin: 16px;}
  .ma-xl{margin: 32px;}
  .my-xs{margin-top: 2px; margin-bottom: 2px;}
  .my-sm{margin-top: 4px; margin-bottom: 4px;}
  .my-md{margin-top: 8px; margin-bottom: 8px;}
  .my-lg{margin-top: 16px; margin-bottom: 16px;}
  .my-xl{margin-top: 32px; margin-bottom: 32px;}
  .mx-xs{margin-left: 2px; margin-right: 2px;}
  .mx-sm{margin-left: 4px; margin-right: 4px;}
  .mx-md{margin-left: 8px; margin-right: 8px;}
  .mx-lg{margin-left: 16px; margin-right: 16px;}
  .mx-xl{margin-left: 32px; margin-right: 32px;}
  .ml-xs{margin-left: 2px}
  .ml-xs{margin-left: 4px}
  .ml-md{margin-left: 8px}
  .ml-lg{margin-left: 16px}
  .ml-xl{margin-left: 32px}

  .no-decoration{text-decoration: none;}
  dl dt:not(:first-of-type){margin-top: 16px;}
  dt, dd {font-size: 16px;}
  dd {margin-top: 4px; margin-left: 0; font-weight: bold;}

  .row{display: flex; flex-wrap: wrap; flex-direction: row;}
  .row.reverse{flex-direction: row-reverse;}
  .items-center{align-items: center;}
  .justify-around{justify-content: space-around;}
  .justify-between{justify-content: space-between;}

  @media only screen and (max-width: 768px) {
    .col-mobile-12{width: 100%}

    .toolbar-btn-label{display: none;}
    .toolbar-btn {padding:.4em; width: 2em;height: 1em;text-align: center;}
    .toolbar-btn-div{padding-top: .25em; padding-bottom: .55em;}
    .toolbar-btn-checkbox{width: 3em;}

    .table-responsive .table-header {display: none;}

    .table-responsive .table-row { border-top: 1px solid #ddd;}
    .table-responsive .table-row p { border: 0; display: inline; padding: 0;}
    .table-responsive .table-row td { display: block; position: relative;padding: 8px 0 8px 7.5rem; height: 1.2em;}
    .table-responsive .table-row td:last-child { border-bottom: 0px solid #ccc;}
    .table-responsive .table-row td:before { content: ''; background: #ddd; position: absolute; 
      top: 0; bottom: 0; left: 0; width: 6.5rem;}
    .table-responsive .table-row td:after {content: attr(data-th);position: absolute;
      top: 0;left: 0; display: inline-block; padding-left: 10px;max-width: 6rem;}
 

    .form-section{display: block;}
    .form-group{display: block;}
    .form-section-title{font-weight: bold;padding:12px 0 6px 0;}
    .form-group .label-column{display: block;width: 100%; padding: 0; text-align: left; margin: 18px 0 4px 0;}
    .form-group .label-column-small{display: block;width: 100%; padding: 3px;}
    .form-group .control-column{display: flex;padding: 0;width: 100%; align-content: center;}
    .form-group .control-column-large{display: block;padding: 8px 6px;width: 100%;}
    .form-group .button-column{display: block;}
    .form-group-intro{padding: 6px; text-align: center;}
    .form-control{ padding: 4px 12px; font-size: 14px; line-height: 1.42857143; color: #555;}
    .form-group-end-section .control-column, .form-group-end-section .label-column, .form-group-end-section .label-column-small, 
    .form-group-end-section .button-colum, .form-group-end-section .control-column-large{border-bottom: none; }
    .form-group-grey{background-color: #e9e9e9;}
    .form-group .control-with-text-area .form-control{padding: 0;display: flex;}
    .form-group .control-with-text-area textarea{width: 100%;}
 
  }